.ATTLab 
    position: absolute
    left: 10px
    top: 35px
.ATTel 
    position: absolute
    left: 60px
    top: 35px
    margin-top: 15px
.ATTUnitFromLab, .ATTUnitFrom 
    top: 65px
.ATTUnitToLab, .ATTUnitTo
    top: 95px
.ATTWhenStartLab, .ATTWhenStart
    top: 125px
.ATTWhenEndLab, .ATTWhenEnd
    top: 155px
.ATTReasonLab, .ATTReason
    top: 185px
.ATTBut 
    position: absolute
    left: 50%
    top: 250px
    width: 150px
    margin-left: -75px